.urlshortner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem;
}

form div {
  width: 25rem;
  height: 50px;
}

form button {
  margin-left: 2rem !important;
  margin-top: 0.5rem !important;
  font-weight: 530 !important;
}

.urlshortner_urls {
  background-color: rgb(255 255 255 / 42%);
  border-radius: 10px;
  box-shadow: 2px 3px 4px #b7afaf;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.content {
  padding: 20px 40px;
  width: 50rem;
  overflow: hidden;
}


.allurl {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.nav-bar img {
  width: 7rem;
  height: 3rem;
  object-fit: contain;
  opacity: 0.3;
  transition: 700ms;


}

.nav-bar img:hover {
  transition: 700ms;
  opacity: 0.8;
}

.main {
  margin: 1rem 4rem;
  border: 1px solid whitesmoke;
  height: 100vh;
  padding: 1rem 0.3rem;
}

* {
  padding: 0px;
  margin: 0px;
}

.short_url p,
.long_url p {
  font-size: 18px;
  font-weight: 450;
  color: #9872f9;
  margin-bottom: 0.5rem;

}

.long_url p {
  color: #848484ab;

}

.short_url a,
.long_url a {
  color: #99abff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 450;
}


.short_url {
  margin-bottom: 1.3rem;
}

button {

  background-color: #99abff !important;
  color: whitesmoke;
  font-weight: 450 !important;
  width: 5rem;
  max-height: 6rem;
}

.btn {
  margin: 1rem 2rem;
}

.loding {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

}

.loding h1 {
  animation: spin 0.5s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);

  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-spiner {
  animation: spin 1s linear infinite;

}